---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="flex justify-center mt-8">
    <iframe 
      src="https://v2-embednotion.com/1330fb51530080cba332f57c3b3f1582?theme=light" 
      style="width: 90%; height: 500px; border-radius: 40px;" 
      frameborder="0" 
      allowfullscreen
    ></iframe>
  </div>
</Layout>
