<section id="about" class="container py-24">
    <div class="mx-auto flex flex-col md:flex-row max-w-3xl gap-12">
        <h2
            class="text-primary md:w-48 text-center md:text-right text-5xl leading-normal font-extrabold"
        >
            Who We Are?
        </h2>
        <p
            class="about-desc flex-1 text-center md:text-left text-2xl leading-normal font-semibold"
        >
            Terpal B 24 is a{" "}
            <span class="text-primary">software engineering class</span> at{" "}
            <span class="text-secondary">Politeknik Negeri Batam</span>.
            <br />
            Focusing on developing skills in{" "}
            <span class="text-primary">software development</span>, teamwork,
            and project management.
        </p>
    </div>
</section>
