<footer class="border-t py-6 md:py-8">
    <div class="container flex flex-col items-center justify-center gap-4 md:flex-row md:gap-8">
        <p class="text-center text-sm text-muted-foreground">
            &copy; {new Date().getFullYear()} TERPAL B 24 - Software Engineering Class at Politeknik Negeri Batam
        </p>
    </div>
</footer>