---
import { GlobeIcon } from "@lucide/astro";
import Facebook from "./icons/Facebook.astro";
import GitHub from "./icons/GitHub.astro";
import Instagram from "./icons/Instagram.astro";
import LinkedIn from "./icons/LinkedIn.astro";

interface Props {
  type: "github" | "facebook" | "linkedin" | "instagram" | "website";
  href: string;
}
const { type, href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noreferrer"
  class="text-white group overflow-hidden relative inline-flex h-10 w-10 rounded-full items-center justify-center"
>
  <span class="absolute bg-bg inset-0"></span>
  <span
    class={`absolute inset-0 scale-0 group-hover:scale-100 rounded-full transition-all duration-300 ease-in-out ${type === "github" ? "bg-[#181717]" : type === "facebook" ? "bg-[#0866FF]" : type === "instagram" ? "bg-[#FF0069]" : type === "linkedin" ? "bg-[#0a66c2]" : type === "website" ? "bg-secondary" : ""}`}
  ></span>

  <span class="absolute inset-0 inline-flex items-center justify-center">
    {
      type === "github" ? (
        <GitHub class="w-6 h-6" />
      ) : type === "facebook" ? (
        <Facebook class="w-6 h-6" />
      ) : type === "instagram" ? (
        <Instagram class="w-6 h-6" />
      ) : type === "linkedin" ? (
        <LinkedIn class="w-6 h-6" />
      ) : type === "website" ? (
        <GlobeIcon class="w-6 h-6" />
      ) : null
    }
  </span>
</a>
