<footer class="py-24">
  <div class="container flex flex-col items-center justify-center gap-4">
    <p class="text-center font-semibold">
      &copy; {new Date().getFullYear()} Terpal B 24. All rights reserved.
    </p>
    <p class="text-center text-sm">
      Made with ❤️ by{" "}
      <a
        href="https://github.com/terpalb24/terpalb24.github.io"
        target="_blank"
        rel="noopener noreferrer"
        class="text-primary"
      >
        The Contributor
      </a>
    </p>
  </div>
</footer>
