<div
  data-background
  transition:persist
  transition:name="glow-background"
  class="fixed inset-0 -z-1 mix-blend-screen"
>
  <div
    data-pointer-glow
    class="absolute bg-radial -translate-1/2 from-secondary/50 to-transparent h-[80vh] rounded-full blur-3xl aspect-square"
  >
  </div>
</div>
<script>
  let currentMouse = { x: 0, y: 0 };
  let targetMouse = { x: 0, y: 0 };

  window.addEventListener("pointermove", (e) => {
    targetMouse.x = e.clientX;
    targetMouse.y = e.clientY;
  });

  const animate = () => {
    currentMouse.x += (targetMouse.x - currentMouse.x) * 0.03;
    currentMouse.y += (targetMouse.y - currentMouse.y) * 0.03;

    const el = document.querySelector("[data-pointer-glow]")! as HTMLElement;

    el.style.transform = `translate3d(${currentMouse.x}px, ${currentMouse.y}px, 0)`;

    requestAnimationFrame(animate);
  };

  animate();
</script>
